<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>validarusu</servlet-name>
        <servlet-class>controlador.validarusu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>controlador.loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ventaController</servlet-name>
        <servlet-class>controladores.ventaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controladores.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proveedorController</servlet-name>
        <servlet-class>controladores.proveedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoController</servlet-name>
        <servlet-class>controladores.productoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inventarioController</servlet-name>
        <servlet-class>controladores.inventarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mensajeriaController</servlet-name>
        <servlet-class>controladores.mensajeriaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validarusu</servlet-name>
        <url-pattern>/validarusu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ventaController</servlet-name>
        <url-pattern>/ventaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proveedorController</servlet-name>
        <url-pattern>/proveedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoController</servlet-name>
        <url-pattern>/productoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventarioController</servlet-name>
        <url-pattern>/inventarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mensajeriaController</servlet-name>
        <url-pattern>/mensajeriaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
